.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.preview_parent {
  display: none;
}

/* .preview_parent::-webkit-scrollbar {
  width: 4px;
}
.preview_parent::-webkit-scrollbar-track {
  width: 4px;
}
.preview_parent::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 24px;
  visibility: hidden;
}
.preview_parent:active::-webkit-scrollbar-thumb {
  visibility: visible;
}
.preview_parent:hover::-webkit-scrollbar-thumb {
  visibility: visible;
} */
