.editor-wrapper {

}

.cm-editor {
  text-align: justify;
  padding: 0;
}

.cm-scroller {
  font-family: 'JetBrainsMono Nerd Font Mono' !important
}

.cm-focused {
  outline: none !important;
}

.cm-scroller::-webkit-scrollbar {
  width: 4px;
}
.cm-scroller::-webkit-scrollbar-track {
  width: 4px;
}
.cm-scroller::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 24px;
  visibility: hidden;
}
.cm-scroller:active::-webkit-scrollbar-thumb {
  visibility: visible;
}
.cm-scroller:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
