.preview {
  padding: 12px;
  color: #ffffff;
  background-color: #000000;
  text-align: justify;
  font-size: 1em;
}

.preview h1 {
  font-family: 'M PLUS Rounded 1c';
  font-size: 2em;
  margin-bottom: 8pt;
  margin-top: 8pt;
  font-weight: bold;
  border-bottom: 2px solid;
}
.preview h2 {
  font-family: 'M PLUS Rounded 1c';
  font-size: 1.8em;
  margin-bottom: 6pt;
  margin-top: 6pt;
  font-weight: bold;
  border-bottom: 2px dashed;
}
.preview h3 {
  font-family: 'M PLUS Rounded 1c';
  font-size: 1.6em;
  margin-bottom: 4pt;
  margin-top: 4pt;
  font-weight: bold;
}
.preview h4 {
  font-family: 'M PLUS Rounded 1c';
  font-size: 1.4em;
  margin-bottom: 4pt;
  margin-top: 4pt;
  font-weight: bold;
}
.preview h5 {
  font-family: 'M PLUS Rounded 1c';
  font-size: 1.2em;
  margin-bottom: 4pt;
  margin-top: 4pt;
  font-weight: bold;
}
.preview h6 {
  font-family: 'M PLUS Rounded 1c';
  font-size: 1em;
  margin-bottom: 4pt;
  margin-top: 4pt;
  font-weight: bold;
}
.preview p {
  margin-bottom: 10pt;
  margin-top: 10pt;
}

.katex-mathml {
  display: none;
}
